# MySQL
DB_USER=[Pick a username]
DB_PASSWORD=[Pick a password]
DB_NAME=[Pick a database name]
DB_ROOT_PASSWORD=[Pick a root password]

# Hedera wallet service — these are testnet-only, exposed intentionally. Copy into your .env as is.
HEDERA_OPERATOR_ID=0.0.9651342
HEDERA_OPERATOR_KEY=0236a29ff7f51404dca4db20f50ec40217b3566e23f3c93f749fd6a2053b08b7
# These are just going to be exposed for testing we are on the test net so who cares. Copy these into your .env as is
RPC_CURRENCY_ID=0.0.9674940
RPC_CURRENCY_SUPPLY_KEY=302e020100300506032b6570042204207953c266bf8fd35d3c214335e76dd2c47ff338febd19fab2c2eb2d193f36a959
RPC_CURRENCY_ADMIN_KEY=302e020100300506032b6570042204207bc317f1c74605494a6adeffd8d4707eb9d7d739f6c0d7d9c7bb80e30fa12087
HEDERA_NETWORK=testnet
HEDERA_NEW_ACCOUNT_INITIAL_HBAR=1
