# MySQL
DB_USER=[Pick a username]
DB_PASSWORD=[Pick a password]
DB_NAME=[Pick a database name]
DB_ROOT_PASSWORD=[Pick a root password]

# Hedera wallet service
HEDERA_OPERATOR_ID=[Hedera operator account id, e.g. 0.0.123456]
HEDERA_OPERATOR_KEY=[HEX private key without 0x]
# These are just going to be exposed for testing we are on the test net so who cares. Copy these into your .env as is
RPC_CURRENCY_ID=0.0.8584147
RPC_CURRENCY_SUPPLY_KEY=302e020100300506032b657004220420ce03981c1069bc872c6b63e5e70df523777edb659771d4b334ccc9f4120ae714
RPC_CURRENCY_ADMIN_KEY=302e020100300506032b657004220420b8993d6043e486389d6e83ca6c5419e13789ab2d1c3dd9ec7e8b8fde21ff039a
HEDERA_NETWORK=testnet
HEDERA_NEW_ACCOUNT_INITIAL_HBAR=1
