# MySQL
DB_USER=[Pick a username]
DB_PASSWORD=[Pick a password]
DB_NAME=[Pick a database name]
DB_ROOT_PASSWORD=[Pick a root password]

# Hedera wallet service
HEDERA_OPERATOR_ID=[Hedera operator account id, e.g. 0.0.123456]
HEDERA_OPERATOR_KEY=[HEX private key without 0x]
RPC_CURRENCY_ID=[Hedera token id for RPC currency, e.g. 0.0.1234567]
HEDERA_NETWORK=testnet
HEDERA_NEW_ACCOUNT_INITIAL_HBAR=1
