# Crypto $RPC | https://portal.hedera.com
# Operator ID can be found in your hedera portal it will look like this
OPERATOR_ID=0.0.1111111
# The Hexadecimal hash is labeled "HEX Encoded Private Key"
OPERATOR_KEY=Hexadecimal Hash Without '0x'
