# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

.env

# Ignore the bin directory and its contents
rpc_currency/app/bin/